.calls-header h1{
  margin-top: 10px;
}
.calls-header{
  border-bottom: 1px solid #000;
}
.content{
  padding: 5px 10px;
}

.call-row{
  border-bottom: 1px solid #CCCECE;
  padding:.8em .8em;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
