
<div class="container-fluid">
  <div class="calls-header">
    <h1>Llamadas</h1>
  </div>
  <div class="calls-body">
    <div class="row call-row">
      <div class="col-md-1"><img ng-src="{{customer.profile_image}}" /></div>
      <div class="col-md-3">Iván Israel Sabido Cortés <br /> Hoy a las 13:45 hrs.</div>
      <div class="col-md-3">Status: Llamada Contestada</div>
      <div class="col-md-3">Duración: 3min 45seg.</div>

      <div class="col-md-2">
        <div class="btn-group">
          <button class="btn btn-default btn-xs dropdown-toggle glyphicon glyphicon-cog"
          type="button" data-toggle="dropdown"></button>
        <ul class="dropdown-menu">
          <li><a href="#">Registrar Usuario</a></li>
          <li><a ng-click="openModal(customer.id)">Reportar Usuario</a></li>
        </ul>
      </div>
      </div>
    </div>

  </div>


</div>
