<section id="wrap" ng-init="getDialogsBranch()">
    <div class="panel panel-primary">

        <div class="row">
                <div class="panel-heading">

                    <div class="btn-group btn-client-options pull-right">

                        <div class="btn-group btn-client-options">
                            <button class="btn btn-default btn-xs dropdown-toggle glyphicon glyphicon-cog {{singleModel === true ? 'activeBot':'off-Bot'}}"
                                    type="button" data-toggle="dropdown"> <span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right">

                                <li><a ng-click="openModalBot()">{{menuTittleChatBot}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>

        <div class="row chat panel-body">

            <div class="col-lg-2 col-md-2 col-xs-2" style="background-color: red">

                <div class="Clients">
                  <div class="Client-Tittle">
                    <h4>Clientes</h3>
                  </div>
                  <div class="Clients-list">
                    <ul class="chat-user-list list-group">
                      <li class="client-user">Ivan Sabido</li>
                    </ul>

                  </div>
                </div>

                <div class="Branches">
                    <div class="Branches-Title">
                      <h4>Sucursales</h3>
                    </div>
                    <div class="Branches-list">
                      <ul class="chat-user-list list-group">
                        <li class="branch-user">Esperanza Admin</li>
                        <li class="branch-user">Esperanza Admin</li>
                      </ul>
                    </div>
                </div>

            </div>

            <div class="col-lg-10 col-xs-10 col-md-10 chat-content" style="background-color: blue">
                <!-- Inicia datos cliente -->
                <div id="cliente">

                    <div class="row">

                        <div class="col-lg-9 col-md-7">

                            <img height="48" width="48" ng-src="{{activeContac.image}}" class="img-circle img-client-chat" alt="User Image">


                            <span id="nom-client">{{activeContac.name | cut:true:30:'...'}}</span>


                        </div>

                        <div class="col-lg-3 col-md-5">

                            <button type="button" id="add-contact" class="btn btn-register btn-xs tooltip-title" data-toggle="tooltip" data-placement="bottom" title="Añadir" ng-click="isCollapsed = !isCollapsed">
                                <span>{{isCustomer ? 'Información Contacto':'Registrar Contacto'}}</span>
                            </button>

                            <div class="btn-group btn-client-options">
                                <button class="btn btn-default btn-xs dropdown-toggle glyphicon glyphicon-cog"
                                        type="button" data-toggle="dropdown"> <span class="caret"></span></button>
                                <ul class="dropdown-menu dropdown-menu-right">

                                    <li><a ng-click="openModal(activeContac.customer_id)">Reportar Usuario</a></li>
                                </ul>
                            </div>

                        </div>

                    </div>


                    <div collapse="isCollapsed" id="add-contact-info">

                        <form class="form-horizontal" role="form">

                            <tabset justified="false">
                                <tab heading="Contacto">

                                    <div class="form-group">


                                        <label class="col-lg-1 control-label">Nombre:</label>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" ng-model="infoActiveContact.full_name">
                                        </div>

                                        <label class="col-lg-2 control-label">C.P.:</label>
                                        <div class="col-lg-2">
                                            <input type="text" class="form-control" ng-model="infoActiveContact.addresses[0].zip_code">
                                        </div>

                                    </div>
                                    <div class="form-group">


                                        <label class="col-lg-2 control-label">Dirección:</label>
                                        <div class="col-lg-5">
                                            <input type="text" class="form-control" ng-model="infoActiveContact.addresses[0].street_line1">
                                        </div>

                                        <label class="col-lg-2 control-label">Cruzamientos:</label>
                                        <div class="col-lg-3">
                                            <input type="text" class="form-control" ng-model="infoActiveContact.addresses[0].street_line2">
                                        </div>

                                    </div>
                                    <div class="form-group">


                                        <label class="col-lg-1 control-label">Col.:</label>
                                        <div class="col-lg-3">
                                            <input type="text" class="form-control" ng-model="infoActiveContact.addresses[0].neighborhood">
                                        </div>

                                        <label class="col-lg-2 control-label">Num. Int.:</label>
                                        <div class="col-lg-2">
                                            <input type="text" class="form-control" ng-model="infoActiveContact.addresses[0].internal_number">
                                        </div>
                                        <label class="col-lg-2 control-label">Num. Ext.:</label>
                                        <div class="col-lg-2">
                                            <input type="text" class="form-control" ng-model="infoActiveContact.addresses[0].external_number">
                                        </div>

                                    </div>
                                    <div class="form-group">


                                        <label class="col-lg-2 control-label">Referencias:</label>
                                        <div class="col-lg-5">
                                            <input type="text" class="form-control" ng-model="infoActiveContact.addresses[0].street_line3">
                                        </div>

                                        <label class="col-lg-2 control-label">Teléfono:</label>
                                        <div class="col-lg-3">
                                            <input type="text" class="form-control" ng-model="infoActiveContact.phone">
                                        </div>

                                    </div>
                                    <div class="form-group">


                                        <label class="col-lg-2 control-label">Celular:</label>
                                        <div class="col-lg-3">
                                            <input type="text" class="form-control" ng-model="infoActiveContact.mobile_phone">
                                        </div>

                                        <label class="col-lg-2 control-label">Email:</label>
                                        <div class="col-lg-5">
                                            <input type="text" class="form-control" ng-model="infoActiveContact.email">
                                        </div>

                                    </div>


                                </tab>
                                <tab heading="Anexo">

                                    <div class="form-group">


                                        <label class="col-lg-2 control-label">Dirección:</label>
                                        <div class="col-lg-5">
                                            <input type="text" class="form-control" ng-model="infoActiveContact.addresses[1].street_line1">
                                        </div>

                                        <label class="col-lg-2 control-label">Cruzamientos:</label>
                                        <div class="col-lg-3">
                                            <input type="text" class="form-control" ng-model="infoActiveContact.addresses[1].street_line2">
                                        </div>

                                    </div>
                                    <div class="form-group">


                                        <label class="col-lg-1 control-label">Col.:</label>
                                        <div class="col-lg-3">
                                            <input type="text" class="form-control" ng-model="infoActiveContact.addresses[1].neighborhood">
                                        </div>

                                        <label class="col-lg-2 control-label">Num. Int.:</label>
                                        <div class="col-lg-2">
                                            <input type="text" class="form-control" ng-model="infoActiveContact.addresses[1].internal_number">
                                        </div>
                                        <label class="col-lg-2 control-label">Num. Ext.:</label>
                                        <div class="col-lg-2">
                                            <input type="text" class="form-control" ng-model="infoActiveContact.addresses[1].external_number">
                                        </div>

                                    </div>
                                    <div class="form-group">


                                        <label class="col-lg-2 control-label">Referencias:</label>
                                        <div class="col-lg-5">
                                            <input type="text" class="form-control" ng-model="infoActiveContact.addresses[1].street_line3">
                                        </div>

                                        <label class="col-lg-2 control-label">C.P.:</label>
                                        <div class="col-lg-3">
                                            <input type="text" class="form-control" ng-model="infoActiveContact.addresses[1].zip_code">
                                        </div>

                                    </div>

                                </tab>

                            </tabset>

                            <div ng-hide="isCustomer" class="pull-right">
                                <button type="button" ng-click="registerContact()" class="btn tooltip-title btn-register" data-toggle="tooltip" id="accept-info" data-placement="bottom" title="Guardar">
                                  Aceptar
                                </button>
                            </div>

                            <div ng-show="isCustomer" class="pull-right">
                              <button type="button" ng-click="updateContact()" class="btn tooltip-title btn-register" data-toggle="tooltip" id="accept-info" data-placement="bottom" title="Guardar">
                                Actualizar
                              </button>
                            </div>

                            <div class="clear"></div>
                        </form>
                    </div>
                </div>
                <!-- finaliza datos cliente -->
                <div class="messages" id="chatM">

                </div>
                <form class="controls">
                    <div class="input-group">

        							<span class="uploader input-group-addon">
        								<span class="glyphicon glyphicon-paperclip"></span>
        								<input type="file" class="tooltip-title" data-toggle="tooltip" data-placement="right" uploader-model="file" title="Attach file">
        								<div class="attach">

                        </div>
        							  </span>
                        <span class="input-group-btn">
                          <button ng-click="submitLocation()" class="btn btn-default glyphicon glyphicon-map-marker"> </button>
                        </span>
                        <input type="text" ng-model="chatMes" ng-enter="submitMessage()" class="form-control" placeholder="Enter your message here.." autofocus>
        							  <span class="input-group-btn">
        								  <button ng-click="submitMessage()" class="sendMessage btn btn-primary">Send</button>
        							  </span>

                    </div>
                    
                    <div class="file-loading bg-warning">
                        <img src="./components/app-data/img/chat/file-loading.gif" alt="loading">
                        Por favor espere.. Se esta enviando el archivo
                    </div>

                    <div id="myModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>
