html{
  font-size: 100%;
}

*{
  -webkit-box-sizing: padding-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;        /* Opera/IE 8+ */
  -ms-box-sizing: border-box;
}

html, body {
  height: 100%;
}
.panel-body{
  padding: 0;
  margin: 0;
}
