<!-- CHat -->
	<section id="wrap" ng-init="getDialogsBranch()">
		<div class="panel panel-primary">
			<div class="panel-heading">
				



			</div>
			<div class="chat panel-body">
				<ul class="chat-user-list list-group">
                    <li>- Clientes -</li>
					<li ng-repeat="contact in chatCustomersContacts" id="qb{{contact.receiver.messaging_id}}"><a ng-click="chatContact(contact.id, contact.receiver.messaging_id, contact.receiver.name, contact.receiver.profile_image )" class="cliente">{{contact.receiver.name}}</a></li>
                    <li>- Compañia -</li>
                    <li ng-repeat="companyContact in chatCompanyContacts" id="qb{{companyContact.receiver.messaging_id}}"><a ng-click="chatContact(companyContact.id, companyContact.receiver.messaging_id, companyContact.receiver.name, companyContact.receiver.profile_image)" class="cliente">{{companyContact.receiver.name}}</a></li>
				</ul>

				<div class="chat-content">
					<div id="cliente">

                            <img height="64" width="64" ng-src="{{activeContac.image}}" class="img-circle" alt="User Image">


                            <span id="nom-client">{{activeContac.name}}</span>
                            <button type="button" id="add-contact" class="btn tooltip-title" data-toggle="tooltip" data-placement="bottom" title="Añadir" ng-click="isCollapsed = !isCollapsed">
                                <span class="glyphicon glyphicon-user"></span>
                            </button>


                        <div collapse="isCollapsed">
                            <tabset id="add-contact-info" justified="false">
                                <tab heading="Datos">Datos</tab>
                                <tab heading="Dirección 1">Dirección 1</tab>
                                <tab heading="Dirección 2">Dirección 2</tab>
                            </tabset>
                            <div><button type="button" class="btn tooltip-title" data-toggle="tooltip" id="accept-info" data-placement="bottom" title="Guardar">
                                <span class="glyphicon glyphicon-ok"></span>
                            </button></div>
                        </div>
					</div>
					<div class="messages" id="chatM">

					</div>
					<form class="controls">
						<div class="input-group">
							<span class="uploader input-group-addon">
								<span class="glyphicon glyphicon-paperclip"></span>
								<input type="file" class="tooltip-title" data-toggle="tooltip" data-placement="right" title="Attach file">
								<div class="attach"></div>
							</span>
							<input type="text" ng-model="chatMes" class="form-control" placeholder="Enter your message here..">
							<span class="input-group-btn">
								<button ng-click="submitMessage()" class="sendMessage btn btn-primary">Send</button>
							</span>
						</div>
						<div class="file-loading bg-warning">
							<img src="./images/file-loading.gif" alt="loading">
							Please wait.. File is loading
						</div>
					</form>
				</div>
			</div>
		</div><!-- .panel -->
	</section><!-- #wrap -->
