
    <link href="chat/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->

<section id="wrap" ng-init="getDialogsBranch()">


    <div class="container">
        <div class="row pad-top pad-bottom">

          <div class="tattler-users col-lg-3 col-md-3 col-sm-3">
              <div class="chat-box-online-div">
                  <div class="chat-box-online-head">
                      USUARIOS (120)
                  </div>
                  <div class="panel-body chat-box-online">
                      <div ng-repeat="contact in chatCustomersContacts" class="chat-box-online-left {{contact.unread_messages>0 ? 'unread_client' : ''}} customer" id="qb{{contact.receiver.messaging_id}}">
                          <img ng-src="{{contact.receiver.profile_image}}" alt="{{contact.receiver.name}}" class="img-circle img-circle-chat" />
                          -
                          <a title="{{contact.receiver.name}}" ng-click="chatContact(contact.id, contact.receiver.messaging_id, contact.receiver.name, contact.receiver.profile_image, contact.receiver.id)" class="cliente">
                            <span>{{ contact.receiver.name | cut:true:18:'...'}} </span></a>
                          <hr class="hr-clas-low" />
                      </div>


                  </div>


                  <div class="chat-box-online-head">
                      Sucursales (120)
                  </div>

                  <div class="panel-body chat-box-online">
                      <div ng-repeat="companyContact in chatCompanyContacts" class="chat-box-online-left company-user {{companyContact.unread_messages>0 ? 'unread_message' : ''}}" id="qb{{companyContact.receiver.messaging_id}}">
                          <img ng-src="{{companyContact.receiver.profile_image}}" alt="{{companyContact.receiver.name}}" class="img-circle img-circle-chat" />
                          -
                          <a title="{{companyContact.receiver.name}}" ng-click="chatContact(companyContact.id, companyContact.receiver.messaging_id, companyContact.receiver.name, companyContact.receiver.profile_image, companyContact.receiver.id)" class="cliente">
                              <span>{{companyContact.receiver.name | cut:true:16:'...'}}</span></a>
                          <br />
                      </div>

                  </div>

              </div>



          </div>


            <div class="tattler-chat chat col-lg-9 col-md-9 col-sm-9">
                <div class="chat-box-div">
                    <div class="chat-box-head">
                        TATTLER CHAT
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <span class="fa fa-cogs"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a ng-click="submitLocation()"><span class="fa fa-map-marker"></span>&nbsp;Localización</a></li>
                                    <li><a ng-click="openModalBot()><span class="fa fa-comments-o"></span>&nbsp;Ocupado</a></li>
                                </ul>
                            </div>
                    </div>
                    <div class="panel-body messages chat-box-main">

                    </div>
                    <div class="chat-box-footer">
                        <div class="input-group">
                          <span class="uploader input-group-addon">
            								<span class="glyphicon glyphicon-paperclip"></span>
            								<input type="file" class="tooltip-title" data-toggle="tooltip" data-placement="right" uploader-model="file" title="Attach file">
            								<div class="attach">

                                            </div>
            							</span>
                            <input ng-model="chatMes" ng-enter="submitMessage()" type="text" class="form-control" placeholder="Escribe tu mensaje..." autofocus>
                            <span class="input-group-btn">
                                <button ng-click="submitMessage()" class="btn btn-info" type="button">Enviar</button>
                            </span>
                        </div>
                        <div class="file-loading bg-warning">
                          <img src="./components/app-data/img/chat/file-loading.gif" alt="loading">
                          Por favor espere.. Se esta enviando el archivo
                        </div>
                    </div>
                    <div id="myModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

</section>
