<div class="modal-header">
  <h3 class="modal-title">Promoción: {{ promo }}</h3>
</div>
<div class="modal-body">
  <div>
    
  </div>
  <section class="row">
    <article class="col-lg-4">
      <img ng-src="{{image}}" alt="">
    </article>
    <article class="col-lg-8 form-promotion">
      <form class="form-horizontal" role="form">

        <div class="form-group">
          <label class="col-lg-3 control-label">Inicio</label>
          <div class="col-lg-8">
            <p class="form-control-static">{{ startDate }}</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Fin</label>
          <div class="col-lg-8">
            <p class="form-control-static">{{ expirationDate }}</p>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label">Código</label>
          <div class="col-lg-8">
            <input type="text" class="form-control" ng-model="coupon" placeholder="Cupón">
          </div>
        </div>
          <br />
          <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        <div class="col-lg-5 pull-right">
          <button class="btn btn-warning" ng-click="cancel()">Cancelar</button>
          <button class="btn btn-success" ng-click="saveCoupon(coupon)">Registrar</button>
        </div>
      </form>
    </article>
  </section>
</div>

<div class="modal-footer">
  <section class="row">
    <div class="col-lg-2">
      Sucursales:
    </div>
    <div class="col-lg-10">
      <span ng-repeat="branch in branches">{{branch}}, </span>
    </div>
  </section>
</div>
