﻿
/*======================================
    GENERAL STYLES
======================================= */

body {
   font-family:Verdana;
}
.pad-top {
    padding-top:30px;
}
.pad-bottom {
     padding-bottom:30px;
}

.img-circle-chat{
  width: 50px;
  height: 50px;
}
.container{
  border: 1px solid;
}
.tattler-chat{
  margin-left: 0;
  padding-left: 0;
}

.tattler-users{
  margin-right: 0;
  padding-right: 0;
}
/*======================================
    CHAT BOX STYLES
======================================= */
.hr-clas {
    border-top: 1px solid #009FE3;
}
#wrap{
  height: 100%;
  width: 100%;

}
.container{
  width: 100%;
}
.chat-box-main {
    height:500px;
    width: 100%;
    overflow:auto;
}
.chat-box-div {
    border:2px solid #009FE3;
    border-bottom:2px solid #009FE3;
}
.chat-box-head {
    padding: 10px 15px;
border-bottom: 2px solid #009FE3;
background-color: #009FE3;
color: #fff;
text-align: center;

}

.chat-box-left {
    width: 100%;
    height: auto;
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    border: 1px solid #C5C5C5;
    font-size:12px;
    word-break: break-all;
}

  .chat-box-left time{
    color: #7A7A7A;
    font-size: 1rem;
    margin-top: 2px;
    display: block;
    text-align: right;
  }
.chat-box-left:after {
    top: 100%;
    left: 10%;
    border: solid transparent;
    content: " ";
    position: absolute;
    border-top-color: #C5C5C5;
    border-width: 15px;
    margin-left: -15px;
}

.chat-box-name-left {
    margin-top: 30px;
    margin-left: 60px;
    text-align:left;
    color:#737373;
}
    .chat-box-name-left img {
        max-width:40px;
        border: 2px solid #737373;
    }

    .chat-box-right {
    width: 100%;
    height: auto;
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    border: 1px solid #009FE3;
    font-size:12px;
    color: #0073A4;
    word-break: break-all;
}
.chat-box-right time{
  color: #7A7A7A;
  font-size: 1rem;
  margin-top: 2px;
  display: block;
  text-align: right;
}
.chat-box-right:after {
    top: 100%;
    right: 10%;
    border: solid transparent;
    content: " ";
    position: absolute;
    border-top-color: #009FE3;
    border-width: 15px;
    margin-left: -15px;
}

.chat-box-name-right {
    color: #009FE3;
    margin-top: 30px;
    margin-right: 60px;
    text-align:right;
}

.chat-box-name-right img {
        max-width:40px;
        border: 2px solid #009FE3;
    }
.chat-box-footer {
    background-color: #D8D8D8;
padding: 10px;
}
/*======================================
    CHAT BOX ONLINE STYLES
======================================= */


.hr-clas-low {
    border-top: 1px solid #C5C5C5;
}

.chat-box-online {
    height:257px;
    overflow:auto;
}

.unread_message a{
    color:orange !important;
    font-weight: bold;
}

.unread_client img{
    border: 3px solid orange !important;
}

.chat-box-online-div {
    border:2px solid #009FE3;
    border-bottom:2px solid #009FE3;
}

.chat-box-online-head {
    padding: 10px 15px;
border-bottom: 2px solid #009FE3;
background-color: #009FE3;
color: #fff;
text-align: center;

}

.chat-box-online-left {
    margin-left: 10px;
    text-align:left;
    color:#737373;
}
    .chat-box-online-left img {
        max-width:30px;
        border:2px solid #737373;
        margin-bottom:10px;
    }
    .chat-box-online-left a{
      color:#737373;
    }
    .chat-box-online-right {
    margin-right: 10px;
   text-align:right;
    color:#354EA0;
}
    .chat-box-online-right img {
       max-width:30px;
        border:2px solid #354EA0;
        margin-bottom:10px;

    }

    /*======================================
  NEW  CHAT  STYLES
======================================= */

.chat-box-new {
     max-height:554px;
    overflow:auto;
}
.chat-box-new-div {
    border:2px solid #ff6a00;
    border-bottom:2px solid #ff6a00;
}

.chat-box-new-head {
    padding: 10px 15px;
border-bottom: 2px solid #ff6a00;
background-color: #ff6a00;
color: #fff;
text-align: center;

}


/* Loading */
.loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  margin: auto;
}
.file-loading {
  display: none;
  line-height: 34px;
  text-align: center;
}
.file-loading img {
  position: relative;
  top: -2px;
  width: 23px;
  height: 23px;
}
.search-loading {
  width: 40px;
  height: 40px;
}

/* Attach file */
.uploader {
  position: relative;
}
.uploader:hover .glyphicon-file {
  opacity: 0.7;
}
.uploader input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.uploader .attach {
  display: none;
  position: absolute;
  top: -40px;
  left: 0;
  padding: 10px;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
}
.attach .file {
  padding-right: 25px;
  font-size: 13px;
}
.attach .file .close {
  position: absolute;
  top: 6px;
  right: 10px;
  color: #fff;
  opacity: 1;
}
.attach .file .close {
  padding-left: 2px;
}
.attach .file .close:hover {
  color: #000;
  opacity: 0.5;
}
