<div class="container-fluid" ng-init="getPromotions()">

  <section class="row">

    <article class="col-lg-4" ng-repeat="promotion in promotions">
      <div class="panels-dashboard">
        <div class="panel-header">
          {{promotion.title}}
        </div>
        <div class="panel-body">
          <figure class="contenedor-img">
            <a ng-click="openModal('lg', promotion.id)"><img ng-src="{{promotion.image}}"></a>
          </figure>
        </div>
        <div class="panel-footer">
          Fecha Vencimiento: {{promotion.expiration_date}}
          <br />
          Disponibilidad: {{promotion.issued_coupons}}
        </div>
      </div>
    </article>

  </section>
</div>
