.panel-footer{
  background-color:#009FE3;
  color:#fff;
  font-weight:bold;
  font-size:.8em;
}
.panels-dashboard{
  border:1px solid #009FE3;
  border-radius:5px;
}
.contenedor-img{
  width: 100%;
}
.contenedor-img img{
  width:100%;
  max-width:300px;
}
.panel-body{
  color:#009FE3;
  font-weight:bold;
  font-size:1.8em;
}
.panel-header{
  background-color:#009FE3;
  color:#fff;
  font-weight:bold;
  font-size:1.2em;
}
.panel-footer, .panel-body, .panel-header{
  text-align:center;
}

.modal-backdrop{
  background-color: #009FE3;
  opacity: 0.6;
}
.modal-footer{
  background-color:#F4F4F4;
}
.modal-header{
  background-color:#009FE3;
  color:#fff;
  font-weight:bold;
}
.form-promotion{
  font-size: 1.2em;
}
