.panel-footer{
  background-color:#009FE3;
  color:#fff;
  font-weight:bold;
  font-size:1.5em;
}
.panels-dashboard{
  border:1px solid #009FE3;
  border-radius:5px;

}
.panel-body{
  color:#009FE3;
  font-weight:bold;
  font-size:1.8em;
}
.panel-footer, .panel-body{
  text-align:center;
}
