  <div class="container-fluid">
    <section class="row">
      <article class="col-lg-4">
        <div class="panels-dashboard">
          <div class="panel-body">
            Minutos Útiles <br />
            {{minutes}} Minutos
          </div>
          <div class="panel-footer">
            Llamadas
          </div>
        </div>
      </article>
      <article class="col-lg-4">
        <div class="panels-dashboard">
          <div class="panel-body">
            Alcance <br />
            {{cupones}}
          </div>
          <div class="panel-footer">
            Promociones
          </div>
        </div>
      </article>
      <article class="col-lg-4">
        <div class="panels-dashboard">
          <div class="panel-body">
            Alcance <br />
            {{contactos}}
          </div>
          <div class="panel-footer">
            Contactos
          </div>
        </div>
      </article>
    </section>
  </div>
